
/* about */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 20px;
    --color: #eee;
    color: var(--color);
    background-color: #23282E;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    padding-top: 10px;
}
header nav a{
    margin: 0 30px;
    color: var(--color);
    font-size:x-large;
}

.tab{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/bg.png);
    background-size: cover;
}
.tab .container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}
#intro{
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}
#intro .avatar{
    text-align: right;
    height: 100%;
    padding-right: 2px;
}
#intro .avatar img{
    height: 100%;
    filter: saturate(0.5);
}
#intro .content{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 500px;
    max-width: 50%;
}
#intro .content .name,
#intro .content .job{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    line-height: 1em;
    padding-top: 10px;
}
.text-gradient{
    background-image: linear-gradient(
        to right, #E4454A, #CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#intro .content .job .text-gradient {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    animation: typing 3s steps(40, end) infinite alternate; /* Animation definition */
  }

/* Keyframe animation for typing effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
#intro .content .des{
    margin-top: 1.2em;
    width: 100%;
}
#intro .content .des a{
    margin-top: 1em;
}
#intro .content .des .text-gradient{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    animation: typing 3s steps(40, end) infinite alternate; /* Animation definition */
  }

/* Keyframe animation for typing effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
#intro .content i{
    font-size: 5em;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #205a9174;
}

/* experience */
#experience{
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}
#experience .list{
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    gap: 25px;
    position: relative;
    z-index: 1;
    font-size: 20px;

}
#experience .list .item{
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
    width: 200px;
    flex-shrink: 0;
}
#experience .list .item i{
    background-color: #444B57;
    width: 50px;
    color: #16222D;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#experience .list .item .time{
    display: flex;
    align-items: end;
    font-size: large;
}
#experience .list .item .content .job{
    font-size: large;
}
#experience .list .item .content .company{
    color: #E4454A;
}
#experience .list .item .content .des{
    font-size: 0.8em;
    opacity: 0.7;
}
#experience .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#experience .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}
#experience .list::before{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #444B57;
    content: '';
    z-index: -1;
}
#experience .container{
    overflow: auto;
    padding: 20px;
    padding-bottom: 10px;
}
::-webkit-scrollbar{
    width: 0;
   }

/* skills */
#skill{
    background-color: #F2F0EB;
    color: #eee;
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}
#skill .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    box-sizing: border-box;
    gap: 0px;
}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#skill .list .item:nth-child(odd){
    background-color: #205a9174;
}
#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #CA3EA7;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px #0005;
}
#skill .list .item .name{
    font-size: 1.2em;
    margin-top: 0.7em;
    color: #e8b716f6;

}
#skill .list .item .des{
    font-size: large;
    opacity: 0.8;
    line-height: 1em;

}
#skill .container{
    overflow: auto;
}

/* project */
#project{
    background-color: #0a132500;
    color: #444B57;
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}
#project .list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}
#project .list .item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#project .list .item{
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    padding: 10px;

}
#project .list .item .index{
    background-color: #fff;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    transform: translateY(-100%);
    padding: 10px;
    font-style: italic;
    border-top-right-radius:50%;
}
#project .list .item .name{
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
}
#project .list .item .des{
    padding: 0 10px 10px 10px;
}

#project .container{
    overflow: auto;
}
::-webkit-scrollbar{
    width: 0;
   }


/* contact */


#contact{
    background-color: #0a132500;
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;}
#contact .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact .content .text-gradient  {

    font-size: 45px;
    font-weight: bold;
    color: #333;
    animation: slidein 3s ease-in-out infinite alternate;
}

@keyframes slidein {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

#contact .thank{
    font-size: 5em;
    font-weight: bold;
    display: block;
}
#contact .des{
    width:100%;
    max-width: 100%;
    text-align: center;
    line-height: 1.3em;
    padding: 20px;

}
#contact .des .text-gradient{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    animation: typing 3s steps(40, end) infinite alternate; /* Animation definition */
  }

/* Keyframe animation for typing effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
#contact .list{
    text-align: center;
}
#contact .list .item{
    display: inline-block;
    margin: 10px 30px;
}


/* size */


@media screen and (max-width: 991px){
    #intro .avatar img{
        transform: translateX(100px);
    }

}
@media screen and (max-width: 767px){
    body{
        font-size: 20px;
    }
    header nav a{
        margin: 10px;
    }
    #intro .avatar img{
        transform: none;
    }
    #intro .content{
        left: 20px;
    }
    #intro .content .name{
        font-size: 2em;
    }
    #intro .content i{
        position: unset;
    }
    #skill .list{
        padding: 15px;
        grid-template-columns: repeat(2, 1fr);
        font-size: 13px;
    }
    #skill .list .item:nth-child(odd){
        background: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background-color: #205a9174;
    }
    #project .list{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    #project .list .item img{
        height: 100px;
    }
}


/* effect */
.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}
#intro{
    z-index: 2;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        200% at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1;
}
@keyframes showTab{
    from{
        clip-path: circle(
            0% at var(--x) var(--y)
        );
    }
}